<%#= form.hidden_field :shipment_id %>
<div class="row">
  <div class="span4">
    <div class="control-group">
      <%= label_tag :action, t('milestone.form.action'), :class => 'control-label' %>
      <div class="controls">  
        <%= form.select :action, form.object.actions.map(&:to_s).map(&:humanize).zip(form.object.actions), :include_blank => false %>
      </div>
      <%= label_tag :location, t('milestone.form.location'), :class => 'control-label' %>
      <div class="controls">  
        <%= form.text_field :location, :class => 'span4' %>        
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :milestone_documents, t('milestone.form.upload_milestone_documents'), :class => 'control-label' %>
      <p class="help-block" style="font-size:10px;">txt, doc, docx, xls, xlsx, pdf</p>
      <div class="controls" id="docs">
        <%= select_tag :doc_type, options_for_select(MilestoneDocument::DOC_TYPES), :include_blank => false %>
        <% 3.times do |x| %>
          <%= form.fields_for :milestone_documents, form.object.milestone_documents.build do |d| %>
            <%= d.file_field :name %>
          <% end %>
        <% end %>
      </div>
      <div class="controls">
        <%= link_to t(:button_add_more), "#", :class => "btn btn-inverse", :id => 'btndoc' %>
      </div>
    </div>
    <div class="control-group" >
      <%= label_tag :public, t('milestone.form.is_public'), :class => 'control-label' %>
      <div class="controls">  
        <label class="radio inline"><%= form.radio_button :public, true -%><%= t(:yes) %></label>
        <label class="radio inline"><%= form.radio_button :public, false, :checked => true -%><%= t(:no) %></label>
      </div>
    </div>
  </div>
  <div class="span4">
    <div class="control-group">
      <%= label_tag :damaged, t('milestone.form.is_damaged'), :class => 'control-label' %>
      <div class="controls" style="height: 28px;">  
        <label class="radio inline"><%= form.radio_button :damaged, true -%><%= t(:yes) %></label>
        <label class="radio inline"><%= form.radio_button :damaged, false, :checked => true -%><%= t(:no) %></label>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :damage_desc, t('milestone.form.damage_description'), :class => 'control-label' %>
      <div class="controls">  
        <%= form.text_field :damage_desc, :rows => 2 %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :photo, t('milestone.form.upload_damaged_shipment'), :class => 'control-label' %>
      <p class="help-block" style="font-size:10px;">jpg gif png</p>      
      <div class="controls" id="photos">
        <% 3.times do |x| %>
          <%= form.fields_for :damages, form.object.damages.build do |d| %>
            <%= d.file_field :photo %>
          <% end %>
        <% end %>
      </div>
      <div class="controls">
        <%= link_to t(:button_add_more), "#", :class => "btn btn-inverse", :id => 'btnphoto' %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#btndoc').click(function(){
    var cnt = $('input[id^="milestone_milestone_documents_attributes_"]').size();
    $("#add_document").tmpl({'cnt':cnt}).appendTo("#docs");
  })
  $('#btnphoto').click(function(){
    var cnt = $('input[id^="milestone_damages_attributes_"]').size();
    $("#add_photo").tmpl({'cnt':cnt}).appendTo("#photos");
  })

  function damage_status() {
    if (
      ($('#milestone_damage_desc').val().length > 0)
      || ($('input[id^="milestone_damages_attributes_"]').filter(function(){return $(this).val().length > 0}).length > 0))
      $('#milestone_damaged_true').attr('checked', true);
    else
      $('#milestone_damaged_false').attr('checked', true);
  }

  $('#milestone_damage_desc').keyup(function() {damage_status()});
  $('#milestone_damage_desc, input[id^="milestone_damages_attributes_"]').change(function() {damage_status()});
</script>

<script id="add_document" type="text/x-jquery-tmpl">
  <input id="milestone_milestone_documents_attributes_${cnt}_name" name="milestone[milestone_documents_attributes][${cnt}][name]" type="file">
</script>

<script id="add_photo" type="text/x-jquery-tmpl">
  <input id="milestone_damages_attributes_${cnt}_photo" class="dmgfile" name="milestone[damages_attributes][${cnt}][photo]" type="file">
</script>


 