<%= semantic_form_for [@company, @user], :html => {:id => "modal_user_edit", :class => "modal hide form-vertical company"} do |f| %>
<%= hidden_field_tag :company_id %>
<%= hidden_field_tag :agent_id %>
<div class="modal-body">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Edit <%= [@user.first_name, @user.last_name].join(" ") %></h3>
	</div>
 	<div class="clearfix"></div>
	<%= f.inputs do %>
		<table style="width:100%">
			<tr>
				<td style="width=50%;">
					<div class="control-group">
						<%= f.input :first_name %>
						<%= f.input :last_name %>
						<%= f.input :email %>
					</div>
					<div class="control-group">
						<%= f.input :phone %>
						<%= f.input :ext, :input_html => {:style => "width: 25%"} %>
					</div>
				</td>
				<td style="width=50%;">
					<div class="control-group">
						<%= f.input :login, :label => "Username" %>
						<%= f.input :password %>
						<%= f.input :password_confirmation %>
					</div>
				</td>
			</tr>
		</table>
		<% if @user.role.driver?  %>
			<div class="control-group">
					<%= label_tag :activation_code %>
					<%= f.text_field :activation_code, :style => 'width:40%;' %>
					<a href="#" class='btn' id="new_activation_code">generate new activation code</a>
			</div>
		<% end %>
	<% end %>
	<div class="row-fluid">
		<div class="span">
			<%= f.submit "SAVE", :class => "btn btn-danger", :style => "font-size:22px; font-wight:bold; padding: 10px 20px;" %>
		</div>
		<div class="pull-right" style="line-height: 28px;">
			<%= hidden_field_tag :notify %>
			<%= link_to "SAVE & Automaticaly Email Login Details to the #{Role.find(@user.role_id).name}", '#', :onclick => "$('#notify').val('true'); $('#modal_user_edit').submit(); return false;" %>
		</div>
	</div>	
</div>
<% end %>

<script type="text/javascript">
  function password(passwordLength) {
    var characters = 'QWERTYUIOPLKJHGFDSAZXCVBNM01234567890';
    var newPassword = '';
    for (i=0;i<passwordLength;i++) {
      num = (Math.floor((Math.random() * characters.length)));
        newPassword += characters[num];
    }
    return newPassword;
  }

  $(document).ready(function(){
  	$('#new_activation_code').click(function(){
  		$('#user_activation_code').val(password(6));
  		return false;
  	})
  })
</script>
