<%= form_for @user, :url => @company_url, :remote => true, :html => {:class => "form-vertical"} do |f| %>
	<div class="row" style="padding:0 30px;">
		<div class="span8">
			<header><%= f.object.new_record? ? 'Create New' : 'Update' %> <%= Role::ROLE_NAMES[f.object.role_id-1].humanize %></header>
			<%= render :partial => 'form', :object => f %>
			<div class="control-group">
  			<div class="controls">
					<%= f.submit "SAVE", :class => "btn btn-danger btn_extra", 'data-loading-text' => "SAVING..." %>
				</div>
			</div>			
		</div>
	</div>
	<br clear=all />
<% end %>
