<%= form_for @user, :url => @company_url, :remote => true, :html => {:class => "form-vertical", :id => 'user_form'} do |f| %>
	<div class="row" style="padding:0 30px;">
		<div class="span8">
			<header><%= f.object.new_record? ? t(:header_create_new) : t(:header_update) %> <%= t("role_#{Role::ROLE_NAMES[f.object.role_id-1].downcase.to_sym}").humanize %></header>
			<%= render :partial => 'form', :object => f %>
			<div class="control-group">
  			<div class="controls">
					<%= f.submit t(:button_save), :class => "btn btn-danger btn_extra", 'data-loading-text' => t(:button_saving) %>
				</div>
			</div>			
		</div>
	</div>
	<br clear=all />
<% end %>
