<h2>Sign in</h2>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |form| %>
<div class="row">
  <div class="span4">
    <div class="control-group">
      <div class="controls">  
      	<%= label_tag :email, t('user.form.email'), :class => 'control-label' %><br />
        <%= form.text_field :email, :class => 'span1' %><br /><br />
        <%= label_tag :password, t(:label_password), :class => 'control-label' %><br />
        <%= form.password_field :password, :class => 'span4' %>
        <br /><br />
        <% if devise_mapping.rememberable? -%>
          <%= form.check_box :remember_me %> <%= form.label :remember_me %>
        <% end -%>
  		  <%= form.submit "Sign in" %>
	     </div>
    </div>
  </div>
</div>
<% end %>
<br />
<%= render :partial => "devise/shared/links" %>