<%# {t(:role_admins).to_s => 4, t(:role_operators).to_s => 3, t(:role_drivers).to_s => 2}.map do |k,v| %>
<% {"admins" => 4, "operators" => 3, "drivers" => 2}.map do |k,v| %>
<section>
<%= content_tag :a, nil, :name => k %>
<div class="header-container">
  <h3><strong><%= t("role_#{k}".to_sym).capitalize %></strong> / <%= company_users.name_with_prefix %> </h3>
  <%= link_to "#{t(:button_create_new)} #{t("role_#{k}".to_sym).singularize}", url_for(:action => 'new', :controller => 'users', 
    company_users.class.to_s.foreign_key.to_sym => company_users.id, :role_id => v),
    :class => 'btn create popup btn-inverse' if can?(:update, company_users.class) && can?(:create, User) %>
  <br clear=all />
</div>

<table class='table_w bordered-table tablesorter' id='<%= "#{k}_table" %>'>
  <thead><tr>
    <th class="mark">
      <%= check_box_tag 'all', nil, nil, :title => t(:title_check_to_remove_all), 
        :disabled => cannot?(:update, company_users.class) || cannot?(:delete, User) %>
    </th>
    <th><%= t("role_#{k.singularize}".to_sym) %><%= t(:column_name) %> </th>
    <th><%= t(:column_email) %></th>
    <th><%= t(:column_phone) %></th>
    <th><%= t(:column_username) %></th>
    <th class="mark">&nbsp;</th>
  </tr></thead>
  <tbody>
  <% company_users.users.where(:role_id => v).map do |user| %>
    <tr>
      <td class="mark">
        <%= check_box_tag user.id, nil, nil, :class => 'admins', :title => t(:title_check_to_remove), 
          :disabled => cannot?(:update, company_users.class) || cannot?(:delete, User)  %>
      </td>
      <td class="link_bold"> <%= user.user_fullname %> </td>
      <td> <%= user.email %> </td>
      <td> <%= user.phone %> </td>
      <td> <%= user.login %></td>
      <td> <%= link_to '<i class="icon-pencil"></i>'.html_safe, url_for(:action => 'edit', :controller => 'users',company_users.class.to_s.foreign_key.to_sym => company_users.id, :id => user.id), :class => 'popup', :title => t(:title_modify) if can?(:update, company_users.class) && can?(:update, User) %> </td>
    </tr>  
  <% end %>
  </tbody>
</table>
<br />
<% if can?(:update, company_users.class) && can?(:delete, User) %>
  <span class='bottom_button'> <%= link_to t(:button_delete), delete_users_path, :class => 'btn delete_user btn-danger', :confirm => t(:confirm_are_you_sure) %></span>
<% end  %>
<a href="#top" class="small_link"><%= t(:button_top_page) %></a>
<div class="clearfix"></div>
<br/>
</section>
<% end %>