<a name="top"></a>
<table width="100%">
  <tr>
    <td>
      <div class="breadcrumbs">
        <%= link_to company_header.alias.pluralize.capitalize, url_for(:controller => company_header.class.to_s.pluralize.downcase, :action => 'index') %> > <%= company_header.name_with_prefix %>
      </div>
    </td>
    <td ROWSPAN=2>
      <div id='search'>
        <div class="simple">
          <h3><%= t(:header_search_page) %></h3>
          <%= form_for company_header, :method => :get, :html => {:class => 'form-search', :method => :get} do |f| %>
              <%= f.text_field :query %>
              <%= f.submit t(:button_search), :class => "btn btn-success", :id => "simple_search" %>
          <% end %>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td valign="bottom">
      <div class="company">
        <h3><%= company_header.name_with_prefix %></h3>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="company">
        <%= company_header.full_address %><br/>
        <%= company_header.full_phone %><br/>
      </div>
    </td>
    <td>
      <span class="employees btn"><a href="#drivers"><%= t(:button_drivers) %>: <strong><%= company_header.users.drivers.count %></strong></a></span>
      <span class="employees btn"><a href="#operators"><%= t(:button_operators) %>: <strong><%= company_header.users.operators.count %></strong></a></span>
      <span class="employees btn"><a href="#admins"><%= t(:button_admins) %>: <strong><%= company_header.users.admins.count %></strong></a></span>
      <% if company_header.class == Agent %>
        <span class="employees btn"><a href="#company"><%= t(:button_ffs) %>: <strong><%= company_header.companies.count %></strong></a></span>
      <% else %>
        <span class="employees btn"><a href="#company"><%= t(:button_agents) %>: <strong><%= company_header.agents.count %></strong></a></span>
      <% end %>
    </td>
  </tr>
</table>
<div class="company">
  <div class="row_info">
    <div class="row">
      <div class="span2"><%= t(:text_created) %></div>
      <div class="span3"><span><%= company_header.created_at %>&nbsp;</span></div>
      <div class="span2"><%= t(:text_updated) %></div>
      <div class="span3"><span><%= company_header.updated_at %>&nbsp;</span></div>
    </div>
    <div class="row">
      <div class="span2"><%= t(:text_created_by) %></div>
      <div class="span3"><span><%= company_header.created_by %>&nbsp;</span></div>
      <div class="span2"><%= t(:text_updated_by) %></div>
      <div class="span3"><span><%= company_header.updated_by %>&nbsp;</span></div>
    </div>
  </div>
</div>
<br clear=all />
<script type="text/javascript">
function updateUsersStatus() {
  $.each(["admins", "operators", "drivers"], function(i,x) {
    $('a[href="#'+x+'"] strong').html($('#'+x+'_table input').length-1);  
  });
  $('a[href="#company"] strong').html($('#companies_table input').length-1);  
};
</script>
