<%= semantic_form_for @agent, :html => {:id => "modal_agent_edit", :class => "modal modal_small hide form-vertical"} do |f| %>
  	<div class="modal-body">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3><%= @agent.new_record? ? 'Create New' : 'Update' %> Agent</h3>
	  </div>
  	<div class="clearfix"></div>
	  	<%= f.inputs do %>
  		  <div class="control-group">
          <%= f.input :name, :label => "Agent name" %>
        </div>
        <div class="control-group">
  		    <%= f.input :address %>
  		    <%= f.input :city %>
  	      <%= f.input :zip, :label => "ZIP" %>
  		  </div><div class="control-group">
	  	    <%= f.input :phone %>
  		    <%= f.input :ext, :input_html => {:style => "width: 15%"} %>
  		  </div>
  	  <% end %>
  	<%= f.submit "SAVE", :class => "btn btn-danger", :style => "font-size:22px; font-wight:bold; padding: 10px 20px;" %>
  	</div>
<% end %>