<div class="control-group">
  <div class="controls">
    <%= label_tag :name, t(:label_agent_name), :class => 'control-label' %>
    <%= form.text_field :name, :class => 'span4' %>
  </div>
</div>
<div class="control-group">
  <div class="controls">  
    <%= label_tag :address, t(:label_address), :class => 'control-label' %>
    <%= form.text_field :address, :class => 'span4' %>
    <%= label_tag :city, t(:label_city), :class => 'control-label' %>
    <%= form.text_field :city, :class => 'span4' %>
    <%= label_tag :zip, t(:label_zip), :class => 'control-label' %>
    <%= form.text_field :zip, :class => 'span4' %>
  </div>
</div>
<div class="control-group">
  <div class="controls">
    <div class="row">
      <div class="span3">
        <%= label_tag :phone, t(:label_phone), :class => 'control-label' %>
        <%= form.text_field :phone, :class => 'span3' %>
      </div>
      <div class="span1">
        <%= label_tag :ext, t(:label_ext), :class => 'control-label' %>
        <%= form.text_field :ext, :class => 'span1' %>
      </div>  
    </div>
  </div>
</div>
