<div class="control-group">
  <div class="controls">
    <%= label_tag :name, 'Company name', :class => 'control-label' %>
    <%= form.text_field :name, :label => "Company name", :class => 'input-xlarge' %>
  </div>
</div>
<div class="control-group">
  <div class="controls">  
    <%= label_tag :address, 'Address', :class => 'control-label' %>
    <%= form.text_field :address, :class => 'input-xlarge' %>
    <%= label_tag :city, 'City', :class => 'control-label' %>
    <%= form.text_field :city, :class => 'input-xlarge' %>
    <%= label_tag :zip, 'Zip', :class => 'control-label' %>
    <%= form.text_field :zip, :label => "ZIP", :class => 'input-xlarge' %>
  </div>
</div>
<div class="control-group">
  <div class="controls">
    <div class="row">
      <div class="span2">
        <%= label_tag :phone, 'Phone', :class => 'control-label' %>
        <%= form.text_field :phone, :class => 'input-medium' %>
      </div>
      <div class="span1">
        <%= label_tag :ext, 'Ext', :class => 'control-label' %>
        <%= form.text_field :ext, :class => 'input-mini' %>
      </div>  
    </div>
  </div>
</div>
