<div id='search'>
	<div class="simple">
		<h4><%= t(:header_search_agent) %></h4>
		<%= form_for @search || Agent.new, :url => agents_path, :html => {:class => 'form-search', :method => :get, :id => 'search_form'} do |f| %>
		  <table>
		    <tr>
	   	    <td><%= f.text_field :name %><span class="error"></span></td>
	  	    <td><%= f.submit t(:button_search), :class => "btn btn-success", :id => "simple_search" %></td>
		  	</tr>
  		</table>
		<% end %>
	</div>
</div>
<div class="clearfix"></div>
<br />
<% if can?(:create, Agent) %>
  <span class='header_button'> <%= link_to t(:button_create_new_agent), new_agent_path, :class => 'popup btn btn-inverse' %></span>
<% end %>
<br />
<% if @agents.any? %>
  <h3 class="table_header_h3"><%= t(:header_freight_agents_profiles) %></h3>
  <table class="table_w bordered-table tablesorter ff" id="agents_table">
    <thead><tr>
      <th class="mark" align="center"> 
        <%= check_box_tag 'all', nil, nil, :title => t(:title_check_to_remove_all), :disabled => cannot?(:delete, Agent) %>
      </th>
      <th width="250px"><%= t(:column_agent_name) %></th>
      <th><%= t(:column_address) %></th>
      <th><%= t(:column_phone) %></th>
      <th><%= t(:column_ffs) %></th>
      <th><%= t(:column_admins) %></th>
      <th><%= t(:column_operators) %></th>
      <th><%= t(:column_drivers) %></th>
      <th class="mark">&nbsp;</th>
    </tr></thead>
    <% @agents.each do |agent| %>
      <tr>
        <td>
          <%= check_box_tag agent.id, nil, nil, :class => 'all', :title => t(:title_check_to_remove), :disabled => cannot?(:delete, Agent) %>
        </td>
        <td>
          <%= link_to agent.name_with_prefix, agent_path(agent), :class => 'link_bold' %> 
        </td>
        <td class="address"> <%= agent.address %> </td>
        <td class="phone"> <%= agent.phone %> </td>
        <td class="count link_bold"> <%= agent.companies.count %> </td>
        <td class="count"> <%= link_to agent.users.admins.count, agent_path(agent, :anchor => "admins"), :class => 'link_bold' %> </td>
        <td class="count"> <%= link_to agent.users.operators.count, agent_path(agent, :anchor => "operators"), :class => 'link_bold' %> </td>
        <td class="count"> <%= link_to agent.users.drivers.count, agent_path(agent, :anchor => "drivers"), :class => 'link_bold' %> </td>        
        <td> <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_agent_path(agent), :remote => true, :title => t(:title_modify), :class => 'popup' if can?(:update, Agent) %> </td>
      </tr>  
    <% end %>
  </table>
  <br />
  <% if can?(:delete, Agent) %>
    <span class='bottom_button'> <%= link_to t(:button_delete), delete_agents_path, :class => 'btn btn-danger', :confirm => t(:confirm_are_you_sure), :id => "delete_agent" %></span>
  <% end %>
  <%= paginate @agents %>
<% else %>
  <%= t(:text_no_agents_found) %>
<% end %>


<script type="text/javascript">
  function notifyCreate(data){
    var response = JSON.parse(data);
    $("#agent_table_template").tmpl(response).appendTo("#agents_table");
  }

  function notifyUpdate(data){     
    var response = JSON.parse(data);
    $("#agent_table_template").tmpl(response).replaceAll($('#'+response.id).closest('tr'));
  }

  function notifyError(data) {
    alert(data);
  }

  $(document).ready(function() {
    $("table.tablesorter").tablesorter({
      headers: { 
        0:{sorter: false},
        8:{sorter: false}
      },
      sortList: [[1,0]] 
    });
    $("a#delete_agent").click(function() {
      var ids = $.map($("input.all:checked"), function(val) { return val.id; })
      if (ids.length == 0) {
        alert('<%= t(:alert_no_agents_checked) %>');
        return false;
      }
      $(this).attr("href", $(this).attr("href") + "?ids=" + ids);
    });
  });  
</script>

<script id="agent_table_template" type="text/x-jquery-tmpl">
<tr>
  <td>
    <input class="all" id="${id}" name="${id}" title="<%= t(:title_check_to_remove) %>" type="checkbox">
  </td>
  <td> <a href="/agents/${id}" class="link_bold">${name} (<%= t(:prefix_agent) %>)</a> </td>
  <td class="address"> ${address} </td>
  <td class="phone"> ${phone} </td>
  <td class="count link_bold">${companies}</td>
  <td class="count"> <a href="/agents/${id}#admins" class="link_bold">${admins}</a> </td>
  <td class="count"> <a href="/agents/${id}#operators" class="link_bold">${operators}</a> </td>
  <td class="count"> <a href="/agents/${id}#drivers" class="link_bold">${drivers}</a> </td>        
  <td> <a href="/agents/${id}/edit" class="popup" title="<%= t(:title_modify) %>"><i class="icon-pencil"></i></a> </td>
</tr>
</script>