<%= form_for @agent, :url => join_agent_path(@agent), :html => {:style => 'padding:30px', :class => "form-vertical"}, :remote => true do |f| %>
  <fieldset>
    <legend><%= t(:header_create_new_company) %></legend>
  </fieldset>
  <div style="padding:30px">
    <div class="control-group">
      <div class="controls">
        <%= text_field_tag :agent, nil, :class => 'input-xxlarge' %>
        <span class="help-inline"><%= t(:text_prompt_select_company) %></span>
      </div>
    </div>
    <div class="well">
      <ul id="selected_agents" class="selections"></ul>
    </div>
  </div>
  <br clear=all />
  <footer id='dialog-footer'>
    <div class="controls pull-right">
      <%= f.submit t(:button_save), :class => "btn btn-primary", 'data-loading-text' => t(:button_saving) %>
      <a href="#" class="btn" onclick="$.colorbox.close(); return false;"><%= t(:button_cancel) %></a>
    </div>
  </footer>
<% end %>

<script type="text/javascript">
  $('form').submit(function(){
    $('#agent_submit').button('loading');
  })

  $("#agent").autocomplete({
    url: "<%= get_companies_companies_path(:json) -%>",
    remoteDataType: 'json',
    mustMatch: true,
    maxItemsToShow: 5,
    selectFirst: false,
    autoFill: false,
    selectOnly: true,
    extraParams: {'doc_id':<%= @agent.id %>,'exclude':0},
    onItemSelect: function(item) {
      if ($('#agent_'+item.data.id).text() == '') 
        $("#agent_template").tmpl(item.data.obj).appendTo("#selected_agents");
      $('#agent').val('');
    }
  });
</script>

<script id="agent_template" type="text/x-jquery-tmpl">
<li id="company_${id}">
  <a href="#" class="btn" onclick="$('#company_${id}').remove(); return false;"><i class="icon-remove"></i>${name}</a>
  <input type="hidden" name="company_ids[]" value="${id}" />
</li>
</script>