<%= form_for @company, :remote => true, :html => {:class => "form-vertical"} do |f| %>
	<div class="row" style="padding:0 30px;">
		<div class="span4">
			<header><%= f.object.new_record? ? t(:header_create_new) : t(:header_update) %> <%= t(:header_freight_forwarder) %></header>
			<%= render :partial => 'form', :object => f %>
			<div class="control-group">
  			<div class="controls">
					<%= f.submit t(:button_save), :class => "btn btn-danger", 'data-loading-text' => t(:button_saving) %>
				</div>
			</div>			
		</div>
	</div>
	<br clear=all />
<% end %>
<script type="text/javascript">
	$('form').submit(function(){
		$('#company_submit').button('loading');
	})
</script>