<div id='search'>
	<div class="simple">
		<h4>Search Freight Forwarder</h4>
		<%= form_for @search || Company.new, :url => companies_path, :html => {:method => :get} do |f| %>
		  <table>
		    <tr>
  	   	    <td><%= f.text_field :name %><span class="error"></span></td>
		  	    <td><%= f.submit "Search", :class => "btn btn-success", :id => "simple_search" %></td>
		  	</tr>
  		</table>
		<% end %>	
	</div>
</div>

<div class="clearfix"></div>
<br />
<% if can?(:create, Company) %>
  <span class='header_button'> 
    <%= link_to "Create New Company", new_company_path, :class => 'popup btn btn-inverse' %>
  </span>
<% end %>
<br />
<% if @companies.any? %>
  <h3 class="table_header_h3">Freight Forwarders Profiles</h3>
  <table class="table_w bordered-table tablesorter ff" id="companies_table">
    <thead><tr>
      <th class="mark" align="center"> 
        <%= check_box_tag 'all', nil, nil, :title => 'Check to remove all', :disabled => cannot?(:delete, Company) %>
      </th>
      <th width="25%"> Company Name </th>
      <th> Address </th>
      <th> Phone </th>
      <th> Agents </th>      
      <th> Admins </th>
      <th> Operators </th>
      <th> Drivers </th>
      <th class="mark">&nbsp;</th>
    </tr></thead>
    <% @companies.each do |cmp| %>
      <tr>
        <td class="mark">
          <%= check_box_tag cmp.id, nil, nil, :class => 'all', :title => 'Check to remove', :disabled => cannot?(:delete, Company) %>
        </td>
        <td> <%= link_to cmp.name_with_prefix, company_path(cmp), :class => 'link_bold' %> </td>
        <td class="address"> <%= cmp.address %> </td>
        <td class="phone"> <%= cmp.phone %> </td>
        <td class="count link_bold"> <%= cmp.agents.count %> </td>
        <td class="count"> <%= link_to cmp.users.freight_forwarders.count, company_path(cmp, :anchor => "admins"), :class => 'link_bold' %> </td>
        <td class="count link_bold"> <%= link_to cmp.users.operators.count, company_path(cmp, :anchor => "operators"), :class => 'link_bold'  %> </td>
        <td class="count link_bold"> <%= link_to cmp.users.drivers.count, company_path(cmp, :anchor => "drivers"), :class => 'link_bold'  %> </td>
        <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_company_path(cmp), :class => 'popup', :remote => true, :title => 'Modify' if can?(:update, Company) %></td>
      </tr>  
    <% end %>
  </table>
  <br />
  <div class="row">
    <% if can?(:delete, Company) %>
      <span class='span'> <%= link_to "Delete", delete_companies_path, :class => 'btn btn-danger', :confirm => 'Are you sure?', :id => "delete_cmp" %></span>
    <% end %>
    <div class="span pull-right">
      <%= paginate @companies %>
    </div>
  </div>
<% else %>
  No Freight Forwarders found.
<% end %>

<script type="text/javascript">
  function notifyCreate(data){     
    var response = JSON.parse(data);
    $("#company_table_template").tmpl(response).appendTo("#companies_table");
  }

  function notifyUpdate(data){     
    var response = JSON.parse(data);
    $("#company_table_template").tmpl(response).replaceAll($('#'+response.id).closest('tr'));
  }

  function notifyError(data) {
    alert(data);
  }

  $(document).ready(function() {
    $("table.tablesorter").tablesorter({
      headers: { 
        0:{sorter: false},
        8:{sorter: false}
      },
      sortList: [[1,0]] 
    });
    $("a#delete_cmp").click(function() {
      var ids = $.map($("input.all:checked"), function(val) { return val.id; })
      if (ids.length == 0) {
        alert("No Freight Forwarders checked");
        return false;
      }
      $(this).attr("href", $(this).attr("href") + "?ids=" + ids);
    });
  });
</script>

<script id="company_table_template" type="text/x-jquery-tmpl">
<tr>
  <td class="mark">
    <input class="all" id="${id}" name="${id}" title="Check to remove" type="checkbox">
  </td>
  <td> <a href="/companies/${id}" class="link_bold">${name} (FF)</a> </td>
  <td class="address"> ${address} </td>
  <td class="phone"> ${phone} </td>
  <td class="count link_bold"> ${agents} </td>
  <td class="count"> <a href="/companies/${id}#admins" class="link_bold">${admins}</a> </td>
  <td class="count link_bold"> <a href="/companies/${id}#operators" class="link_bold">${operators}</a> </td>
  <td class="count link_bold"> <a href="/companies/${id}#drivers" class="link_bold">${drivers}</a> </td>
  <td><a href="/companies/${id}/edit" data-remote="true" title="Modify"><i class="icon-pencil"></i></a></td>
</tr>
</script>