<a name="top"></a>
<div class="row-fluid">
  <div class="span breadcrumbs">
    <%= link_to "Freight Forwarders", companies_path %> > <%= @company.name %>
  </div>
  <div class="pull-right">
    <div id='search'>
      <div class="simple">
        <h3>Search</h3>
        <%= form_for @company, :method => :get, :html => {:method => :get} do |f| %>
          <table>
            <tr>
              <td><%= f.text_field :query %><span class="error"></span></td>
            <td><%= f.submit "Search", :class => "btn btn-success", :id => "simple_search" %></td></tr>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="company">
  <h3><%= @company.name %></h3>
  <%= @company.address %><br/>
  <%= @company.phone %><br/>
  <div class="container row_info">
    <div class="row">
      <div class="span2">Created</div>
      <div class="span3"><span><%= @company.created_at %>&nbsp;</span></div>
      <div class="span2">Updated</div>
      <div class="span3"><span><%= @company.updated_at %>&nbsp;</span></div>
    </div>
    <div class="row">
      <div class="span2">Created by</div>
      <div class="span3"><span><%= @company.created_by %>&nbsp;</span></div>
      <div class="span2">Updated by</div>
      <div class="span3"><span><%= @company.updated_by %>&nbsp;</span></div>
    </div>
  </div>
</div>
<div style="clear: right;"></div>

<span class="employees btn"><a href="#drivers">Drivers: <strong><%= @company.users.drivers.count %></strong></a></span>
<span class="employees btn"><a href="#operators">Operators: <strong><%= @company.users.operators.count %></strong></a></span>
<span class="employees btn"><a href="#admins">Admins: <strong><%= @company.users.freight_forwarders.count %></strong></a></span>

<div class="clearfix"></div>
<br/>
<section>
<a name="admins"></a>
<div class="header-container">
  <h3 class="table_header_h3"><strong>Agents</strong> / <%= @company.name %> </h3>
  <%= link_to "Create New Agent", "#modal_add_agents", "data-toggle" => "modal", :class => 'btn create', :id => 'link_agents' if current_user.manager? %>
</div>
<div class="clearfix"></div>

<table class="table_w bordered-table tablesorter" id="agents_table">
  <thead><tr>
    <th class="mark"> <input type="checkbox" id="all" /></th>
    <th> Agent Name </th>
    <th> Address </th>
    <th> Phone </th>
    <th class="w80"> FFs </th>
    <th class="w80"> Admins </th>
    <th class="w80"> Operators </th>
    <th class="w80"> Drivers </th>
    <th class="mark"> </th>
  </tr></thead>
  <tbody>
  <% @company.agents.map do |agent| %>
    <tr id="agent_id_row<%= agent.id %>">
      <td class="mark"><input type="checkbox" id="<%= agent.id %>", class="all", title="Check to remove"/></td>
      <td> <%= link_to agent.name, agent_path(agent), :class => 'link_bold' %> </td>
      <td> <%= agent.address %> </td>
      <td> <%= agent.phone %> </td>
      <td class='link_bold'> <%= agent.companies.count %></td>
      <td> <%= link_to agent.users.freight_forwarders.count, agent_path(agent,:anchor => 'admins'), :class => 'link_bold' %></td>
      <td> <%= link_to agent.users.operators.count, agent_path(agent, :anchor => 'operators'), :class => 'link_bold' %></td>
      <td> <%= link_to agent.users.drivers.count, agent_path(agent, :anchor => 'drivers'), :class => 'link_bold' %></td>    
      <td><%= link_to '<i class="icon-remove"></i>'.html_safe, 
        unlink_company_agent_path(@company,agent), :remote => true, :title => 'Remove', :confirm => 'Are you sure?', :method => 'delete' %> </td>  
    </tr>  
  <% end %>
  </tbody>
</table>
<br />
<span class='bottom_button'> <%= link_to "Delete", unlink_agents_company_path(@company), :class => 'btn delete_user btn-danger', :confirm => 'Are you sure?', :method => 'delete' %></span>
<div class="clearfix"></div>
<br/>
</section>

<section>
<a name="admins"></a>
<div class="header-container">
  <h3><strong>Admins</strong> / <%= @company.name %> </h3>
  <%= link_to "Create New Admin", "#modal_freight_forwarder", "data-toggle" => "modal", :class => 'btn create' if current_user.manager? %>
</div>
<div class="clearfix"></div>

<table class="table_w bordered-table tablesorter">
  <thead><tr>
    <th class="mark"> <input type="checkbox" id="all" /></th>
    <th> Admin Name </th>
    <th> Email </th>
    <th> Phone </th>
    <th> Username </th>
    <th class="mark"></th>
  </tr></thead>
  <tbody>
  <% @company.users.freight_forwarders.each do |user| %>
    <tr>
      <td class="mark"><input type="checkbox" id="<%= user.id %>", class="all", title="Check to remove"/></td>
      <td class="link_bold"> <%= [user.first_name, user.last_name].join(" ") %> </td>
      <td> <%= user.email %> </td>
      <td> <%= user.phone %> </td>
      <td> <%= user.login %></td>
      <td> <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_company_user_path(@company, user), :remote => true %> </td>
    </tr>  
  <% end %>
  </tbody>
</table>
<br />
<span class='bottom_button'> <%= link_to "Delete", delete_users_path, :class => 'btn delete_user btn-danger', :confirm => 'Are you sure?' %></span>
<a href="#top" class="small_link">Top Page</a>
<div class="clearfix"></div>
<br/>
</section>

<section>
<a name="operators"></a>
<div class="header-container">
  <h3><strong>Operators</strong> / <%= @company.name %> </h3>
  <%= link_to "Create New Operator", "#modal_operator", "data-toggle" => "modal", :class => 'btn create' if current_user.manager? %>
</div>

<div class="clearfix"></div>
<table class="table_w bordered-table tablesorter">
  <thead><tr>
    <th class="mark" align="center"> <input type="checkbox" id="all" /></th>
    <th> Operator Name </th>
    <th> Email </th>
    <th> Phone </th>
    <th> Username </th>
    <th class="mark"></th>
  </tr></thead>
  <% @company.users.operators.each do |user| %>
    <tr>
      <td class="mark"><input type="checkbox" id="<%= user.id %>", class="all", title="Check to remove"/></td>
      <td class="link_bold"> <%= [user.first_name, user.last_name].join(" ") %> </td>
      <td> <%= user.email %> </td>
      <td> <%= user.phone %> </td>
      <td> <%= user.login %></td>
      <td> <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_company_user_path(@company, user), :remote => true %> </td>
    </tr>  
  <% end %>
</table>
<br />
<span class='bottom_button'> <%= link_to "Delete", delete_users_path, :class => 'btn delete_user btn-danger', :confirm => 'Are you sure?' %></span>
<a href="#top" class="small_link">Top Page</a>
<div class="clearfix"></div>
<br/>
</section>

<section>
<a name="drivers"></a>
<div class="header-container">
  <h3><strong>Drivers</strong> / <%= @company.name %> </h3>
  <%= link_to "Create New Driver", "#modal_driver", "data-toggle" => "modal", :class => 'btn create' if current_user.manager? %>
</div>
<div class="clearfix"></div>

<table class="table_w bordered-table tablesorter">
  <thead><tr>
    <th class="mark"> <input type="checkbox" id="all" /></th>
    <th> Driver Name </th>
    <th> Email </th>
    <th> Phone </th>
    <th> Username </th>
    <th class="mark"></th>
  </tr></thead>
  <% @company.users.drivers.each do |user| %>
    <tr>
      <td class="mark"><input type="checkbox" id="<%= user.id %>", class="all", title="Check to remove"/></td>
      <td class="link_bold"> <%= [user.first_name, user.last_name].join(" ") %> </td>
      <td> <%= user.email %> </td>
      <td> <%= user.phone %> </td>
      <td> <%= user.login %></td>
      <td> <%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_company_user_path(@company, user), :remote => true %> </td>
    </tr>  
  <% end %>
</table>
<br />
<span class='bottom_button'> <%= link_to "Delete", delete_users_path, :class => 'btn delete_user btn-danger', :confirm => 'Are you sure?' %></span>
<a href="#top" class="small_link">Top Page</a>
<div class="clearfix"></div>
</section>

<% {:freight_forwarder => "Admin", :operator => "Operator", :driver => "Driver"}.each_pair do |role, label| %>
  <%= semantic_form_for [@company, User.new], :html => {:id => "modal_#{role}", :class => "modal hide form-vertical company"} do |f| %>
    <div class="modal-body">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Create New <%= label %></h3>
      </div>
      <div class="clearfix"></div>
      <%= f.inputs do %>
        <table style="width:100%"><tr><td style="width=50%;">
        <div class="control-group">
          <%= f.input :role_id, :as => :hidden, :input_html => {:value => Role.send(role).first.id} %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :email %>
        </div>
        <div class="control-group">
          <%= f.input :phone %>
          <%= f.input :ext, :label => "Ext", :input_html => {:style => "width: 25%"} %>          
        </div>
      </td>
        <td style="width=50%;"><div class="control-group">
          <%= f.input :login, :label => "Username" %>
          <%= f.input :password %>
          <%= f.input :password_confirmation %>
        </div></td></tr></table>
        <% end %>
        <div class="row-fluid">
          <div class="span">
            <%= f.submit "SAVE", :class => "btn btn-danger", :style => "font-size:22px; font-wight:bold; padding: 10px 20px;" %>
          </div>
          <div class="pull-right" style="line-height: 28px;">
            <%= link_to "SAVE & Automaticaly Email Login Details to the #{label}", '#' %>
          </div>
        </div>
    </div>
  <% end %>
<% end %>

<%= semantic_form_for @company, :url => joinagents_company_path(@company),
  :html => {:id => "modal_add_agents", :class => "modal modal_small hide form-vertical"}, :remote => true do |f| %>
<div class="modal-body">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Create New Agents</h3>
  </div>
  <div class="clearfix"></div>
  <div>
    <div>
      <%= label_tag :agent, 'Please select new agent from exists' %>
      <%= text_field_tag :agent %>
    </div>
  </div>
  <ul id="selected_agents" class="selections"></ul>
  <hr>
  <%= f.submit "SAVE", :class => "btn btn-danger" %>
</div>
<% end %>

<script type="text/javascript">
  function notifyJoinAgents(data) {
    var response = JSON.parse(data);
    $.each(response, function(i, agent) {
      $("#agent_table_template").tmpl(agent).appendTo("#agents_table");
    });
  }

  function notifyJoinAgentsError(data) {
    alert(data);
  }

  function notifyUnlinkAgent(data) {
    $('#agent_id_row'+data).fadeOut();
  }
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $('#link_agents').click(function() {
      $('#selected_agents li').remove();
    });
    $("a.delete_user").click(function() {
      var ids = $.map($(this).closest("section").find("input.all:checked"), function(val) { return val.id; })
      if (ids.length == 0) {
        alert("No Members checked");
        return false;
      }
      $(this).attr("href", $(this).attr("href") + "?ids=" + ids);
    });
    $("#agent").autocomplete({
      url: "<%= get_agents_agents_path(:json) -%>",
      remoteDataType: 'json',
      mustMatch: true,
      maxItemsToShow: 5,
      selectFirst: false,
      autoFill: false,
      selectOnly: true,
      extraParams: {'doc_id':<%= @company.id %>,'exclude':0},
      onItemSelect: function(item) {
        if ($('#agent_'+item.data.id).text() == '') 
          $("#agent_template").tmpl(item.data.obj).appendTo("#selected_agents");
        $('#agent').val('');
      }
    });
  });
</script>

<!-- JS Templates section -->
<script id="agent_template" type="text/x-jquery-tmpl">
<li id="agent_${id}">
  <span>${name}</span>
  <a href="#" onclick="$('#agent_${id}').remove(); return false;"><i class="icon-remove"></i></a>
  <input type="hidden" name="agent_ids[]" value="${id}" />
</li>
</script>

<script id="agent_table_template" type="text/x-jquery-tmpl">
<tr id="agent_id_row${id}">
  <td class="mark"><input type="checkbox" id="${id}", class="all", title="Check to remove"/></td>
  <td><a href="/agents/${id}" class="link_bold">${name} (AGT)</a></td>
  <td>${address}</td>
  <td>${phone}</td>
  <td>${ffs}</td>
  <td><a href="/agents/${id}#admins" class="link_bold">${admins}</a></td>
  <td><a href="/agents/${id}#admins" class="link_bold">${operators}</a></td>
  <td><a href="/agents/${id}#admins" class="link_bold">${drivers}</a></td>
  <td><a href="/companies/${company_id}/agents/${id}/unlink" data-confirm="Are you sure?" data-method="delete" data-remote="true" rel="nofollow" title="Remove"><i class="icon-remove"></i></a></td>
</tr>
</script>
