<div id='search'>
	<div class="advanced" style="display:none;">
    <div class="padded">
  		<h4>Advanced Search</h4>
  		<%= form_for @search || Shipment.new, :url => shipments_path, :html => {:method => :get} do |f| %>
        <div class="row-fluid">
          <div class="span3">
            <%= f.label :service_level, 'Current Status' %>
            <%= f.select :service_level, Shipment.data["AT7"].values, :include_blank => "-Select-" %>
          </div><div class="span1"></div>
          <div class="span3">
            <%= f.label :shipper %>
            <%= f.text_field :shipper %>
          </div><div class="span1"></div>
          <div class="span3">
            <%= f.label :consignee %>
            <%= f.text_field :consignee %>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span3">
            <%= f.label :hawb, 'HAWB number' %>
            <%= f.text_field :hawb, :label => "HAWB number", :class => :hawb %><span class="error"></span>
          </div><div class="span1"></div>
          <div class="span3">
            <%= f.label :ship, 'Ship Date' %>
            <%= f.text_field :ship, :class => "datepicker" %>
          </div><div class="span1"></div>
          <div class="span2">
            <%= f.label :origin, 'Origin / City' %>
            <%= f.text_field :origin %>
          </div>
          <div class="span2">
            <%= f.label :field1, 'Origin / Airport Code' %>
            <%= text_field_tag :field1 %>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span3">
            <%= f.label :mawb, 'MAWB number' %>
            <%= f.text_field :mawb, :class => :hawb %><span class="error"></span>
          </div><div class="span1"></div>
          <div class="span3">
            <%= f.label :delivery, 'Delivery Date' %>
            <%= f.text_field :delivery, :class => "datepicker" %>
          </div><div class="span1"></div>
          <div class="span2">
            <%= f.label :destination %>
            <%= f.text_field :destination %>
          </div>
          <div class="span2">
            <%= f.label :field2, 'Destination / Airport Code' %>
            <%= text_field_tag :field2 %>
          </div>
        </div>
        <%= f.submit "Search", :class => "btn btn-success" %>
        <%= link_to "Close Advanced Search", "#", :class => "toggle_advanced" %>
  		<% end %>
    </div><br />
	</div>
	
	<div class="simple">
		<h4>Search Shipment</h4>
		<%= form_for @search || Shipment.new, :url => shipments_path, :html => {:class => 'form-search', :method => :get} do |f| %>
		  <table><tr>
  	    <td><%= f.select :search_type, [['HAWB number', :hawb], ['MAWB number', :mawb]], :include_blank => " - Search By - " %></td>
  	    <td><%= f.text_field :query, :class => :hawb %><span class="error"></span></td>
		  	<td><%= f.submit "Search", :class => "btn btn-success", :id => "simple_search" %></td>
  		</table>
		<% end %>

		<%= link_to "Advanced Search", "#", :class => "toggle_advanced" %>
	</div>
</div>

<div class="clearfix"></div>
<br />

<% if @shipments.any? %>
  <h3 class="table_header_h3">Shipment</h3>
  <table class="table_w bordered-table tablesorter">
    <thead><tr>
      <th> HAWB </th>
      <th> Ship Date </th>
      <th> Delivery Date </th>
      <th> Current Status </th>
      <th> Origin </th>
      <th> Destination </th>
      <th> Shipper </th>
      <th> Consignee </th>
    </tr></thead>
    <% @shipments.each do |ship| %>
      <tr>
        <td><%= link_to ship.hawb, shipment_path(ship), :class => 'link_bold' %></td>
        <td><%= ship.ship if ship.ship %> </td> 
        <td><%= ship.delivery if ship.delivery %></td>
        <td><%= ship.current_status %></td>
        <td><%= ship.origin %></td>
        <td><%= ship.destination %></td>
        <td class="link_bold"><%= ship.shipper %></td>
        <td class="link_bold"><%= ship.consignee %></td>
      </tr>  
    <% end %>
  </table>
  <%= paginate @shipments %>
<% else %>
  No shipments found.
<% end %>
<% if can? :create, Shipment %>
  <hr>
  <div class="well">
    <% form_for Shipment.new, :url => upload_edi_shipments_path, :html => {:multipart => true} do |f| %>
      <div class="control-group">
        <%= label_tag :file_edi, 'Upload new file VendorEDI' %>
        <%= file_field_tag :file_edi %>
      </div>
      <div class="control-group">
        <%= f.submit 'Upload it...', :class => 'btn btn-danger' %>
      </div>
    <% end %>
    <br clear=all />
  </div>
<% end %>

<script>
  $(document).ready(function() {
    $("table.tablesorter").tablesorter({
      sortList: [[1,0]] 
    }); 
  });
  
</script>
