<div class="breadcrumbs">
<%= link_to "Shipment", shipments_path %> > <%= @shipment.shipment_id %>
</div>
<table width="100%">
  <tr>
    <th>&nbsp;</th>
    <td>&nbsp;</td>
  </tr>
  <tr width="50%">
    <td valign="top">
      <table class="table_detail" cellspacing="20" width="100%">
        <tr>
          <th>HAWB</th>
          <th>MAWB</th>
          <th>Service Level</th>
        </tr>
        <tr>
          <td valign="top"><%= @shipment.hawb %></td>
          <td valign="top"><%= @shipment.mawb %></td>
          <td valign="top"><%= @shipment.service_level %></td>
        </tr>
      </table>
    </td>
    <td width="50%" valign="top">
      <table class="table_detail2" width="100%">
        <tr>
          <th>Weight</th>
          <th>Pieces</th>
          <th>Expected Delivery Date</th>
        </tr>
        <tr>
          <td valign="top"><%= @shipment.weight %></td>
          <td valign="top"><%= @shipment.pieces %></td>
          <td valign="top"><%= @shipment.delivery.to_date rescue nil %></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <th>&nbsp;</th>
    <td>&nbsp;</td>
  </tr>
  <tr class="ships_info">
    <td>
      <div class="sub-header" style="margin-right:6px;">Ship From</div>
      <h3><%= @shipment.shipper %></h3>
      <%= @shipment.origin %>
    </td>
    <td>
      <div class="sub-header" style="margin-left:6px;">Ship To</div>
      <h3><%= @shipment.consignee %></h3>
      <%= @shipment.destination %>
    </td>
  </tr>
  <tr>
    <th>&nbsp;</th>
    <td>&nbsp;</td>
  </tr>
</table>

<div class="header-container">
  <h3 class="table_header_h3"><strong>Milestones</strong></h3>
<%= link_to_if can?(:create, Shipment), "Create New Milestone", "#modal", "data-toggle" => "modal", :class => 'btn btn-inverse' %>
<br />
<br />
<table class="table_w bordered-table tablesorter">
  <thead><tr>
    <th> Update Date & Time </th>
    <th> Updated By </th>
    <th> Status </th>
    <th> Location </th>
    <th> Damage </th>
    <th> Documents </th>
    <th> Note </th>
  </tr></thead>
  <% @shipment.milestones.order("updated_at DESC").each do |ms| %>
    <tr>
      <td> <%= ms.updated_at %> </td>
      <td> <strong><%= ms.driver.try(:email) %></strong> </td>
      <td> <%= ms.action.try(:to_s).try(:humanize) %> </td>
      <td> <%= ms.location %></td>
      <td> <%= ms.damage_desc %> </td>
      <td> <%= ms.doc %> </td>
      <td valign="middle"> 
        <%= form_for ms, :remote => true do |f| %>
          <%= f.check_box :public, :disabled => (!current_user || current_user.driver?) %> Public
        <% end %>   
      </td>
    </tr>  
  <% end %>
</table>

<%= semantic_form_for @shipment.milestones.build, :html => {:id => "modal", :class => "modal modal_small hide form-vertical", :style => "width: 750px", :multipart => true} do |f| %>
  <div class="modal-body">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3 style="font-size:16px">Create New Milestone</h3>
  </div>
  <div class="clearfix"></div>
  <%= f.inputs do %>
    <%= f.hidden_field :shipment_id %>
    <table style="width:100%"><tr><td style="width=50%;">
      <%= f.input :action, :as => :select, :collection => f.object.actions.map(&:to_s).map(&:humanize).zip(f.object.actions), :label => "Select Current Shipment Status", :include_blank => false %>
    </td><td style="width=50%;">
      Is the shipment damaged?
      <%= f.input :damaged, :label => false, :as => :radio %>
		</td></tr>
		<tr><td>
      <%= f.input :location, :label => "Enter current shipment location", :input_html => {:style => 'width:85%;'} %></td><td>
      <%= f.input :damage_desc, :label => "Damage Description", :input_html => {:rows => 2, :style => 'width:85%;'} %>
		</td></tr>
		<tr><td>
      <%= f.fields_for :milestone_documents, f.object.milestone_documents.build do |d| %>
        <%= d.input :name, :as => :file, :label => "Enter milestone documents", :input_html => {:name => 'milestone[milestone_documents_attributes][0][name]'} %>
        <%= d.input :name, :as => :file, :label => "Enter milestone documents", :input_html => {:name => 'milestone[milestone_documents_attributes][1][name]'} %>
        <%= d.input :name, :as => :file, :label => "Enter milestone documents", :input_html => {:name => 'milestone[milestone_documents_attributes][2][name]'} %>
        <li id="libtndoc" class="pull-left" style="padding-top: 12px"><%= link_to "Add More", "#", :class => "btn btn-inverse", :id => 'btndoc' %></li>
      <% end %>
    </td><td>
      <%= f.fields_for :damages, f.object.damages.build do |d| %>
        <%= d.input :photo, :as => :file, :label => "Upload photo of damaged shipment", :input_html => {:name => 'milestone[damages_attributes][0][photo]'} %>
        <%= d.input :photo, :as => :file, :label => "Upload photo of damaged shipment", :input_html => {:name => 'milestone[damages_attributes][1][photo]'} %>
        <%= d.input :photo, :as => :file, :label => "Upload photo of damaged shipment", :input_html => {:name => 'milestone[damages_attributes][2][photo]'} %>
        <li id="libtnphoto" class="pull-left" style="padding-top: 12px"><%= link_to "Add More", "#", :class => "btn btn-inverse", :id => 'btnphoto' %></li>      
      <% end %>
		</td></tr><tr><td>
    Is the milestone note public?
      <%= f.input :public, :label => false, :as => :radio %>
  </td><td></td></tr></table>
  <% end %>
  <div class="pull-left">
  <%= f.submit "SAVE", :class => "btn btn-danger", :style => "font-size:22px; font-wight:bold; padding: 10px 20px;" %>
  </div>
  <br/>
  <br/>
  </div>

<script type="text/javascript">
$(document).ready(function(){
  $('#btndoc').click(function(){
    var cnt = $('input[id^="milestone_milestone_documents_attributes_"]').size();
    $("#add_document").tmpl({'cnt':cnt}).insertBefore("#libtndoc");
  })
  $('#btnphoto').click(function(){
    var cnt = $('input[id^="milestone_damages_attributes_"]').size();
    $("#add_photo").tmpl({'cnt':cnt}).insertBefore("#libtnphoto");
  })
})
</script>

<script id="add_document" type="text/x-jquery-tmpl">
<li class="file optional" id="milestone_doc_input">
  <label for="milestone_doc">Enter milestone documents</label>
  <input id="milestone_milestone_documents_attributes_${cnt}_name" name="milestone[milestone_documents_attributes][${cnt}][name]" type="file">
</li>
</script>

<script id="add_photo" type="text/x-jquery-tmpl">
<li class="file optional" id="milestone_doc_input">
  <label for="milestone_doc">Enter milestone documents</label>
  <input id="milestone_damages_attributes_${cnt}_photo" class="dmgfile" name="milestone[damages_attributes][${cnt}][photo]" type="file">
</li>
</script>

<% end if can?(:create, Shipment) %>