<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title><%= t(:title) %></title>
    <%= stylesheet_link_tag "bootstrap",
      "style",
      "ui-datepicker",
      # "formtastic",
      "jquery.autocomplete",
      "sticky",
      "colorbox"
    %>
    <%= javascript_include_tag "jquery",
      'bootstrap-button',
      "jquery_ujs",
      # "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js",
      'jquery-ui.min',
      "jquery.datepicker",
      "jquery.tablesorter.min",
      "bootstrap.min",
      "jquery.autocomplete",
      "jquery.template.min",
      "sticky.min",
      "jquery.colorbox-min",
      "jquery.qtip",
      "application" %>
    <%= csrf_meta_tag %>
  </head>
  
  <body>
    <div id="rightsidebar">
      <div id="page">
        <div id="locale_panel">
          <%= locale_urls %>
        </div>
        <%= render :partial => '/application/menu' %>

        <div id="main">
          <%= yield %>
        </div>

  			<div id="modal-div"></div>

      </div>
    </div>
    <div class="footer">
      <div class="row-fluid">
        <div class="span6">© <%= Time.now.year %> <%= t(:copyright) %></div>
        <div class="span6" style="text-align:right">version <%= application_version %> <%= "(#{Rails.env})" unless Rails.env.production? %></div>
      </div>
    </div>
  </body>
  <% flash.map do |k,v| %>
    <%= javascript_tag("$.sticky('#{escape_javascript(v)}')") %>
  <% end %>
</html>
